.btn {
    width: auto;
    height: auto;
    background-color: $colorSecundario;
    animation-name: mianimacion;
    animation-duration:5s;
    animation-delay: 2s;
    position: relative;

    a{
        text-decoration: none;
        color:$colorBlanco;
        animation-name: letrasAnimacion;
        animation-duration:5s;
        animation-delay: 2s;
        position: relative;
    
    }
    
}

