footer{
    min-height: map-get($pieDePagina,alturaMin);
    p{
        text-align: map-get($pieDePagina,alineadoTexto);
    } 
}

a {
    @extend .footer;
    text-decoration: map-get($pieDePagina,decoTexto);
    color: $colorPrimario;
    &:hover{
            color: $colorNegro;
           }
}  
 
#iconos {
        i{
            font-size: map-get($pieDePagina,tamañoFuente);
            padding: map-get($pieDePagina,pading);
            text-decoration: map-get($pieDePagina,decoTexto);
            color: $colorSecundario;
            &:hover{
                color:$colorNegro;
            }
        } 
}
    
