#titulo {
    transform:rotateY(360deg);
    transition: transform 5s;
    animation-delay: 2s;   
}

#titulo2 {
    transform:rotateY(360deg);
    transition: transform 5s;
    animation-delay: 2s;   
}
